@font-face {
    font-family: 'Rockness';
    src: url('/assets/fonts/Rockness.ttf');
    font-style: medium;
    font-weight: normal;
    font-display: swap;
  }


h2 {
    font-family: 'Rockness, Arial, Roboto';
    font-size: '30px';
}